@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: blue;
}

body{
    /* background-color: black; */
    background-image: url('../../img/bg.png');
    background-image: url('../../img/bg.png');
    background-repeat: repeat-y;
    background-size: cover;
}

.navbar{
    background-color: transparent;
    height: 60px;
}

#logo{
    width: 160px;
}

.navbar-nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
}

.navbar-nav .active{
    background-color: #4E36E5;
}

.box_nav{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

#searchbar{
    display: flex;
    background-color: white;
    width: 270px;
    height: 35px;
    top: 273px;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.25s;
}

#search-icon{
    margin-left: 10px;
    margin-top: -4px;
    height: 20px;
    width: 20px;
}

#searchbar input{
    border: none;
    margin-left: 10px;
    width: 80%;
    height: 90%;
    outline: none;    
}

#searchbar:focus-within{
    border: blue 1px solid;
}

.atas{
    height: 100px;
}

.judul h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.judul a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.judul a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.judul a:hover:after { 
    width: 100%; 
    left: 0; 
}

.card{
    width: 420px;
    max-width: 100%;
    height: 380px;
    max-height: 100%;
    border-radius: 20px;
}

.card-body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.card-body h3{
    font-weight: 600;
}

.box-gambar{
    width:100%;
    height: 200px;
    max-height: 1005;
    background-color: gray;
    border-radius: 10px;
}

.kategori{
    width: 150px;
    margin-top: 5px;
    background-color: cadetblue;
    border-radius: 20px;
    color: black;
}

.card-body a{
    color: black;
}

.card-body a:hover{
    color: blue;
}